.vs/
Release/
SoftwareRasteriser.opensdf
SoftwareRasteriser.sdf
SoftwareRasteriser.sln
SoftwareRasteriser.suo
SoftwareRasteriser.v12.suo
brick.tga
robotbody.asciimesh
robothead.asciimesh
robotlimbs.asciimesh
cube.asciimesh
SoftwareRasteriser/Release/